.top-bar{
position: fixed;
top: 0;
left: 0;
height: 70px;
width: 100%;
background-color: white;
box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
display: flex;
align-items: center;
justify-content: space-between;
z-index: 2;
padding: 0 20px;
}
.side-bar{
top: 70px;
left: 0;
background-color: white;
z-index: 1;
height: 100vh;
width: 220px;
box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}
.side-bar-link{
    color: #495057;
    font-size: 18px;
    transition: 0.3s;
    padding: 10px 8px 10px 15px;
    margin: 0 9px;
    border-radius: 8px;
}
.side-bar .active{
    background-color:#f2f3fe;
    color: #038edc;
}
.side-bar-link:hover{
    color: black;
}
a{
    text-decoration: none !important;
}
.icon{
cursor: pointer;
}